.set-darkmode {
  background: #111;
  border-radius: 100%;
  cursor: pointer;
  fill: #111;
  margin: 12.5px 0;
  stroke: #00565c;
  transition: all ease 0.1s;
}

.set-darkmode:hover {
  background: #000;
  fill: #000;
}

.dark-mode {
  background: #000;
}

.dark-mode .set-darkmode {
  background: #c5c2c2;
  fill: #c5c2c2;
  stroke: #ff9900;
}

.dark-mode .set-darkmode:hover {
  background: #d3d3d3;
  fill: #d3dad5;
  stroke: #ff9900;
}

.dark-mode p {
  color: #FFF;
}

.dark-mode header {
  background: #ff9900;
}

.dark-mode h1 {
  color: #b4781d;
}

.dark-mode h2 {
  color: #FFF;
}

.dark-mode h2::before {
  background: #ff9900;
}

.dark-mode .cities-list::-webkit-scrollbar-thumb {
  background: #ff9900;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
}

.dark-mode .cities-list::-webkit-scrollbar-track {
  background: #000;
}

.dark-mode .faq-list dt {
  color: white;
}

.dark-mode .faq-list dt::before {
  background: #ff9900;
}

.dark-mode .faq-list dt::after {
  content: '↴';
}

.dark-mode .faq-list dt.opened::after {
  content: '↥';
}

.dark-mode .faq-list dd {
  color: #FFF;
}

.dark-mode .data {
  color: #FFF;
}

.dark-mode .data li::before {
  background: #ff9900;
}

.dark-mode .copy {
  background: #ff9900;
}

.dark-mode .copy p {
  color: #000;
}

.modal-container {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.dark-mode .modal {
  background: black;
  border: 10px solid rgb(17, 17, 17);
  box-shadow: 0 0 0 10px #ff9900;
  padding: 40px;
  position: relative;
  min-width: 15rem;
}

.dark-mode .close {
  background: #ff9900;
  color: black;
  border: 8px solid rgb(17, 17, 17);
}

.dark-mode .modal label {
  color: white;
}

.modal input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
}

.dark-mode .modal button[type="submit"] {
  display: block;
  background: #ff9900;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  font-family: 'IBM Plex Mono', monospace;
  color: black;
  margin-top: 1rem;
  font-weight: 700;
}
