[data-menu="button"]  {
  display: none;
}

@media (max-width : 700px) {
  .js [data-menu="button"] {
    display: block;
  }

  [data-menu="button"] {
    background: #111;
    border-radius: 4px;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: flex;
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    margin: 1rem;
    padding: .6rem 1.2rem;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-around;
    transition: all ease .2s;
    position: relative;
    z-index: 201;
  }

  [data-menu="button"]:hover {
    background: #000;
  }

  [data-menu="button"]::before {
    content: '';
    display: inline-block;
    margin-right: .2rem;
    height: .13rem;
    width: .6rem;
    background: #FFF;
    box-shadow: 0 4px #FFF, 0 -4px #FFF;
  }

  #menu {
    position: absolute;
    z-index: 200;
    background: #0e4d52;
    width: 12.5rem;
    top: 0;
    padding-top: 60px;
    display: block;
    height: 100vh;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .5);
  }

  ul.dropdown-menu {
    position: static;
    border: none;
  }
}